/*
Theme Name: Okanagan Railings
Author: Longevity Graphics
Author URI: http://www.longevitygraphics.com
Version: 1.0
Template: twentyten
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
/* =Layout
-------------------------------------------------------------- */
/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/
main#content {
    display: table-cell;
    margin: 0;
    padding-right: 50px;
    width: 100%;
}
main#content.one-column{
    display: block;
    margin: 0;
    padding: 0 !important;
    width: 100%;
}
section.content.left-sidebar main#content{
    padding-right: 0px;
    padding-left: 20px;
}
aside {
    display: table-cell;
    min-width: 325px;
    width: 325px;
}

/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: 'Open Sans', Georgia, "Bitstream Charter", serif;
}
h3#comments-title,
h3#reply-title,
nav .menu,
nav div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
	font-family: 'Open Sans', "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
input[type="submit"] {
	font-family: 'Open Sans', "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
/* =Structure
-------------------------------------------------------------- */
/* The main theme structure */
div.menu,
#branding,
section.content {
	margin: 0 auto;
	width: 1240px;
}
section.content {
    background: #fff none repeat scroll 0 0;
    box-sizing: border-box;
    clear: both;
    padding: 50px 0 0;
}
.home section.content{
    padding: 40px 0 0;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
/* =Global Elements
-------------------------------------------------------------- */
/* Main global 'theme' and typographic styles */
body {
	background: #fff;
}
body,
input,
textarea {
	color: #033649;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}
/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	overflow: auto;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: smaller;
}
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea {
    background: #fff none repeat scroll 0 0;
    border: none;
    box-sizing: border-box;
    color: #777;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
    padding: 8px;
    width: 100%;
}
section a:link, section a:visited {
	color: #00ced0;
	text-decoration: none;
}
section a:active, section a:hover {
	color: #00688b;
	text-decoration: none;
}
a:link, a:visited, a:active, a:hover, .social a:hover img, .social img, .titlebox:hover h4, .titlebox h4, .wpcf7-submit, .wpcf7-submit:hover{
    text-decoration: none;

    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

-webkit-appearance: none;
border-radius: 0;
}
/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}
/* =Menu
-------------------------------------------------------------- */
nav {
	background: #00688b;
	display: block;
	float: left;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
nav .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
nav .menu-header li,
div.menu li {
	display: inline-block;
	position: relative;
}
nav a {
    color: #f3f6f7 !important;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 60px;
    padding: 0 15px;
    text-decoration: none;
}
@media screen and (max-width: 1023px) {
	nav a {
		padding: 0 9px;
	}
}
.ie nav a{
    padding: 0 45px;
}
nav ul ul {
    display: none;
    float: left;
    position: absolute;
    top: 60px;
    z-index: 99999;
}
nav ul ul li {
    min-width: 220px;
}
nav ul ul ul {
	left: 100%;
	top: 0;
}
nav ul ul a, .ie nav ul ul a {
    background: #333 none repeat scroll 0 0;
    font-size: 14px;
    height: auto;
    line-height: 1em;
    padding: 10px;
    text-align: left;
}
nav li:hover > a {
	background: #333;
	color: #f3f6f7;
}
nav ul ul :hover > a {
	background: #00ced0;
	color: #f3f6f7;
}
nav ul li:hover > ul {
	display: block;
}
nav ul li.current_page_item > a,
nav ul li.current_page_ancestor > a,
nav ul li.current-menu-ancestor > a,
nav ul li.current-menu-item > a,
nav ul li.current-menu-parent > a,
.single-projects .menu #menu-item-71 a {
	background: #00ced0;
	color: #fff;
}
* html nav ul li.current_page_item a,
* html nav ul li.current_page_ancestor a,
* html nav ul li.current-menu-ancestor a,
* html nav ul li.current-menu-item a,
* html nav ul li.current-menu-parent a,
* html nav ul li a:hover {
	background: #00ced0;
	color: #fff;
}
/* =Content
-------------------------------------------------------------- */
main#content,
main#content input,
main#content textarea {
	color: #033649;
	font-size: 15px;
	line-height: 24px;
}
main#content p,
main#content ul,
main#content ol,
main#content dd,
main#content pre,
main#content hr {
	margin-bottom: 14px;
}
main#content ul ul,
main#content ol ol,
main#content ul ol,
main#content ol ul {
	margin-bottom: 0;
}
main#content pre,
main#content kbd,
main#content tt,
main#content var {
	font-size: 15px;
	line-height: 21px;
}
main#content code {
	font-size: 13px;
}
main#content dt,
main#content th {
	color: #033649;
}
main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
	color: #033649;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}
main#content h2 {
    font-size: 24px;
    line-height: 1.2em;
    margin-bottom: 15px;
    padding-top: 8px;
}
main#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
main#content tr th,
main#content thead th {
	color: #777;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
main#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
main#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 48px 0;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #033649;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #777;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
.home main#content .entry-title{
    display: none;
}
main#content .entry-title {
    color: #00688b;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.3em;
    margin-bottom: 0;
    position: relative;
    top: -29px;
}
main#content.one-column .entry-title,
.single-projects .entry-title{
    margin-top: 23px !important;
}
.entry-title a:link,
.entry-title a:visited {
	color: #033649;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #ff4b33;
}
.entry-meta {
	color: #777;
	font-size: 12px;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
main#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #033649;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #777;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #033649;
	font-weight: bold;
	line-height: 48px;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a,
.entry-utility a {
	color: #777;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #ff4b33;
}
main#content .video-player {
	padding: 0;
}
/* =Asides
-------------------------------------------------------------- */
.home main#content .format-aside p,
.home main#content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
	padding: 0;
}
.home main#content .format-aside .entry-content,
.home main#content .category-asides .entry-content {
	padding-top: 0;
}
/* =Gallery listing
-------------------------------------------------------------- */
.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home main#content .format-gallery .entry-utility,
.home main#content .category-gallery .entry-utility {
	padding-top: 4px;
}
/* =Attachment pages
-------------------------------------------------------------- */
.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}
/* =Images
-------------------------------------------------------------- */
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
main#content img.alignleft{
    border: 4px solid #e7e7e7;
    box-sizing: border-box;
}
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-container img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
	max-width: 622px; /* caption width - 10px */
}
.wp-caption p.wp-caption-text {
	color: #777;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #777;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
main#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}
/* =Navigation
-------------------------------------------------------------- */
.navigation {
	color: #777;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #777;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}
/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #777;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #777;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #777;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}
/* Comments form */
input[type="submit"] {
	color: #333;
}
input[type="submit"]:hover{
    cursor: pointer;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #777;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}
/* =Widget Areas
-------------------------------------------------------------- */
aside select {
	max-width: 100%;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	margin: 0 0 18px 0;
}
.widget-container .wp-caption img {
	margin: auto;
}
.widget-title {
    color: #033649;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.2em;
}
aside .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* =Footer
-------------------------------------------------------------- */
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #033649;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}
/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */
pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
nav,
.entry-meta,
.entry-utility,
.navigation,
aside {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}
/* =Print Style
-------------------------------------------------------------- */
@media print {
	body {
		background: none !important;
	}
	section.content {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	.container {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	nav,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	aside {
		display: none !important;
	}
	main#content,
	.container {
		margin: 0;
		width: 100%;
	}
	main#content,
	main#content.one-column {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	.home .sticky {
		border: none;
	}
}

/**********************************GENERAL**********************************/

.left{
	float: left;
}
.right{
	float: right;
}

/**********************************HEADER**********************************/

header{
    background: rgba(255,255,255,0.75);
}
#logo h1 {
    height: 0;
    text-indent: -9999px;
}
.logo{
    padding: 20px 0;
}
header section .widget-title{
    display: none;
}
header section {
    box-sizing: border-box;
    display: inline-block;
    float: right;
    margin: 0 !important;
    padding: 47px 0;
}
header section a {
    background: #00ced0 none repeat scroll 0 0;
    box-sizing: border-box;
    color: #fff !important;
    font-size: 26px;
    padding: 10px 20px;
    line-height: normal;
}
header section a:hover{
    background: #00688b none repeat scroll 0 0;
}

/**********************************HOMEPAGE**********************************/

.titlebox h4 {
    background: #00688b none repeat scroll 0 0;
    color: #f3f6f7 !important;
    display: block;
    font-size: 30px;
    font-weight: 300;
    line-height: 65px !important;
    margin-bottom: 0 !important;
    text-align: center;
}

.titlebox:hover h4{
    /*background: #00ced0 none repeat scroll 0 0;*/
}

.titlebox:hover h4 a{
    /*background: #00ced0 none repeat scroll 0 0;*/
    color: #00ced0;
}

.titlebox h4 a{
    /*background: #00ced0 none repeat scroll 0 0;*/
    color: #fff;
}


.titlebox img {
	width:100%;
	height:500px;
    object-fit: cover;
}

.fourhome {
    background: #e5e5e5 none repeat scroll 0 0;
    min-height: 210px;
    padding: 25px 15px 50px;
    position: relative;
    text-align: center;
}
.fourhome h3 {
    font-size: 18px;
    text-transform: uppercase;
}
.fourhome hr {
    background: #acacac none repeat scroll 0 0;
    width: 20%;
}
.fourhome .cb{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}
.fourhome a {
    background: #00688b none repeat scroll 0 0;
    color: #f3f6f7 !important;
    display: inline-block;
    font-weight: 600;
    padding: 6px 20px;
}
.fourhome a:hover{
    background: #00ced0 !important;
}

.hms-testimonials-rotator {
    background: #00ced0 none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    margin: 40px 0 50px;
    padding: 30px 30px 70px;
    text-align: center;
}
.hms-testimonial-container {
    position: relative;
}
.hms-testimonial-container::before{
    content: '\f10d';
    font-family: FontAwesome;

    color: #07c1c4;
    font-size: 100px;
    left: 0;
    line-height: normal;
    position: absolute;
}
.hms-testimonial-container::after{
    content: '\f10e';
    font-family: FontAwesome;

    bottom: -50px;
    color: #07c1c4;
    font-size: 100px;
    line-height: normal;
    position: absolute;
    right: 0;
}
.hms-testimonial-container .testimonial::before {
    content: "Customer Testimonial";
    display: block;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 35px;
    padding-top: 35px;
}
.hms-testimonial-container .testimonial {
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
}
.hms-testimonial-container .author {
    font-weight: 600;
    margin-top: 35px;
}

/**********************************SLIDER**********************************/

#slider{
    clear:both;
    position: relative;
    /*max-height: 550px !important;
    overflow: hidden;*/
}
.metaslider .caption-wrap {
    display: block !important;
}
.metaslider .caption-wrap {
    background: none !important;
    box-sizing: border-box;
    left: 0;
    line-height: normal !important;
    margin: 0 auto !important;
    max-width: 1240px;
    opacity: 1 !important;
    overflow: visible;
    right: 0;
    top: 50%;
}
.metaslider .caption {
    background: rgba(0, 0, 0, 0.35) none repeat scroll 0 0;
    box-sizing: border-box;
    float: right;
    margin-top: 0 !important;
    padding: 20px 30px 10px !important;
    position: relative;
    /*top: 50%;*/

-ms-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);

    width: 350px;
}
.metaslider .caption h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}
.metaslider .wpcf7-submit {
    float: right;
    line-height: normal;
    margin-top: 20px;
    padding: 12px 28px;
    width: auto;
}
.metaslider div.wpcf7-validation-errors {
    color: #c40745;
    text-align: left;
    font-size: 11px;
}
.metaslider .wpcf7-not-valid {
    border: 1px solid #c40745 !important;
}

/**********************************FOOTER**********************************/

.btmlinks {
    font-size: 15px;
    line-height: 1.8em;
    text-align: center;
    padding-top: 30px;
}
.btmlinks .widget-title{
    display: none;
}

.social {
    list-style: outside none none;
    margin: 0;
}
.social li {
    display: inline-block;
}
.social a{}
.social a:hover{}
.social img {
    transform: scale(0.9);
    -webkit-transform-style: preserve-3d;
}
.social a:hover img{
    transform: scale(1);
    -webkit-transform-style: preserve-3d;
}


footer {
    background: #00688b none repeat scroll 0 0;
    color: #f3f6f7;
    line-height: 80px;
}
footer a{
    color: #f3f6f7;
}
footer a:hover{
    color: #00ced0;
}
#copyright, #longevity{
    display: inline-block;
    width: 50%;
}
#longevity{
    text-align: right;
}

/**********************************SIDEBAR**********************************/

section.content .widget_nav_menu{
    padding-left: 30px;
    padding-right: 0;
}
section.content.left-sidebar .widget_nav_menu{
    padding-left: 0;
    padding-right: 30px;
}

aside #text-5 {
    background: #4C565B none repeat scroll 0 0;
    padding: 30px 20px 1px;
}
aside #text-5 .widget-title{
    color: #fff !important;
}
.wpcf7-submit {
    background: #00688b none repeat scroll 0 0;
    border: medium none;
    color: #fff !important;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: -15px;
    padding: 10px 0;
    position: relative;
    text-transform: uppercase;
    top: -19px;
    width: 100%;

-webkit-appearance: none;
border-radius: 0;
}
.wpcf7-submit:hover{
    background: #00CED0 none repeat scroll 0 0;
}

aside .widget_hms_testimonial_view {
    background: #e7e7e7 none repeat scroll 0 0;
    padding: 30px 20px;
}
aside .hms-testimonial-container::before,
aside .hms-testimonial-container::after{
    content: none;
}
aside .hms-testimonial-container .testimonial {
    font-size: 15px;
    font-style: italic;
    line-height: 24px;
}
aside .hms-testimonial-container .testimonial::before {
    content: '\f10d';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 9px;
    font-weight: inherit;
    margin: 0 2px 0 0;
    padding: 0;
    position: relative;
    top: -4px;
}
aside .hms-testimonial-container .testimonial::after {
    content: "\f10e";
    font-family: FontAwesome;
    font-size: 9px;
    position: relative;
    top: -4px;
    margin: 0 0 0 2px;
}
aside .hms-testimonial-container .author {
    font-size: 14px;
    margin-top: 20px;
}

/**********************************FAQs**********************************/

.faq-catname{
    display: none;
}
.qa-faq-answer{
    display: block !important;
}
.qa-faq-title {
    margin-bottom: 10px !important;
}
.qa-faq-title a,
.qa-faq-title a:hover {
    color: #00688B !important;
    cursor: inherit;
}
.qa-faq {
    margin-bottom: 20px;
}

/**********************************RECENT PROJECTS**********************************/

.grid {
    clear: both;
    padding: 0px;
    margin: 0px;
}
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
}
.col:first-child,
.col:nth-child(5n+5) { 
    margin-left: 0; 
}

#projects .project {
    background: #e7e7e7 none repeat scroll 0 0;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    width: 24.25%;
}
#projects .project img{
    display: block;
    height: auto;
    max-width: 100%;
}
#projects .project .view {
    float: none;
    margin: 0;
}
#projects .project .proj-title {
    font-size: 20px;
    line-height: 24px;
    margin: 4px 0;
}
.view {
    cursor: default;
    float: right;
    margin: 0 0 40px 10px;
    overflow: visible;
    position: relative;
    text-align: center;
}
.view .mask, .view .content {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.single-projects .view img {
    display: block;
    position: relative;
}
.third-effect .mask {
    background: rgba(0, 0, 0, 0.7) url("./images/mag.png") no-repeat scroll center center;
    box-sizing: border-box;
    opacity: 0;
    overflow: visible;
    transition: all 0.4s ease-in-out 0s;
}
.third-effect:hover .mask {
    background: rgba(0, 0, 0, 0.7) url("./images/mag.png") no-repeat scroll center center;
    opacity: 1;
}
.third-effect:hover a.info {
    opacity: 1;
    transition-delay: 0.3s;
}


.btn {
    background: #00688b none repeat scroll 0 0;
    color: #fff !important;
    display: inline-block;
    font-size: 13px;
    padding: 8px 15px;
    text-transform: uppercase;
}
.btn:hover{
    background: #00ced0 none repeat scroll 0 0;
}
.btn.arrow::after{
    content: '\f054';
    font-family: FontAwesome;
    font-size: 10px;
    margin-left: 10px;
}
.projects .entry-content h2 {
    font-size: 22px !important;
    margin-bottom: 25px !important;
    margin-top: -30px !important;
}
.btn.arrow{
    margin-bottom: 20px;
}

.single-projects aside .widget-container {
    background: #4c565b none repeat scroll 0 0;
    box-sizing: border-box;
    margin: 0 0 18px;
    padding: 30px 20px;
}
.single-projects .widget-title {
    color: #fff;
}
#menu-projects {
    margin: 0 !important;
    padding-top: 0px !important;
}
#menu-projects li {
    list-style: outside none none;
    margin-bottom: 5px;
    padding-left: 10px;
}
#menu-projects li.current-menu-item {
    background: #00ced0 none repeat scroll 0 0;
}
#menu-projects li:hover {
    background: #00688B none repeat scroll 0 0;
}
#menu-projects li a {
    background: #fff none repeat scroll 0 0;
    color: #333;
    display: block;
    font-size: 14px;
    padding: 4px 6px;
}

/**********************************MISC**********************************/

div.wpcf7 {
    position: relative;
}
.wpcf7-form img.wpcf7-form-control {
    margin-top: -30px;
    position: absolute;
    right: 0px;
}
span.wpcf7-not-valid-tip, div.wpcf7-mail-sent-ok, .ajax-loader{
    display: none !important;
}
.wpcf7-not-valid {
    border: 1px solid red !important;
}
div.wpcf7-validation-errors {
    border: medium none !important;
    color: #00CED0;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}

.wc-gallery{}
.wc-gallery .gallery img {
    border: medium none;
}

a.external {
    background: transparent url("./images/icon_external_link.gif") no-repeat scroll right center;
    padding-right: 16px;
}

/**********************************RESPONSIVE STYLES**********************************/
.page-template-fullwidth-page section.content{
  width: 100%;
}
section.content,
div.menu,
#branding,
.container {
  width: 1240px;
}
.fullwidth{
  width: 100%;
  margin: 0 auto;
}
.container{
  margin: 0 auto;
}
.mobile-show{
    display: none;
}



/*@media screen and (min-width: 1650px) {
.metaslider .caption {
    transform: translateY(-80%);
}
}*/



@media screen and (max-width: 1280px) {
  section.content, .container{
    width: 94% !important;
  }
  
  div.menu,
  #branding,
  .container {
    margin: 0 auto;
    width: 100%;
  }
  
  /*
  LAYOUT: Two columns
  DESCRIPTION: Responsive.
  940 = 720 + 220
  100% = 76.5957447% + 23.40425535% 
  */
  
  aside {
    overflow: hidden;
    width: 23.40425535% /* 200px / 940px */ 
    padding-left: 0 !important;
  }


.ie nav a{
    padding: 0 20px;
}
#projects .project .proj-title {
    font-size: 1.4vw;
}
.metaslider .caption-wrap {
    max-width: 94%;
}
}




@media screen and (max-width: 1024px) {

.ie nav a {
    padding: 0 10px;
} 

.titlebox h4 {
    font-size: 3vw;
}
.metaslider .caption {
    float: none;
    margin: 0 auto !important;
}
.metaslider .wpcf7-submit {
    float: none;
    padding: 6px 28px;
    width: 100%;
}
.metaslider .slides img {
    min-height: 400px;
}
}




@media screen and (max-width: 940px) {
footer {
    line-height: 20px;
    padding: 20px 0;
}
#copyright, #longevity {
    display: block;
    text-align: center;
    width: 100%;
}
#projects .project {
    width: 49.5%;
}
#projects .project .proj-title {
    font-size: 2.4vw;
}
.col:nth-child(3n+3) {
    margin-left: 0;
}
}




@media screen and (max-width: 768px) {
section.content, .container, main#content, aside, section.content.left-sidebar main#content {
	display: block;
	width: 100% !important;
	padding: 0 10px;
	margin: 0;
	box-sizing: border-box;

	min-width: inherit;
	min-width: initial;
	min-width: unset;
}
section.content {
    padding: 20px 10px 0 !important;
}
section.content .widget_nav_menu,
section.content.left-sidebar .widget_nav_menu {
    padding-right: 0px;
    padding-left: 0px;
}
.logo {
    height: auto;
    max-width: 60%;
}

}
.ie nav a {
    padding: 0 5px;
    font-size: 14px;
} 
main#content .entry-title {
    margin-bottom: 20px;
    padding-top: 20px;
    top: 0;
}
main#content h2 {
    padding-top: 15px;
}
}




@media screen and (max-width: 603px) {
.logo {
    display: block;
    max-width: 411px;
    width: 80%;
}
header section {
    display: block;
    float: none;
    margin: 0 0 10px !important;
    padding: 0;
    text-align: center;
}
header section a {
    display: block;
    font-size: 22px;
    padding: 6px 10px;
}
.content-column div[style] {
    padding: 0 !important;
}
.full_width, .one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
    margin-bottom: 0 !important;
}
.fourhome {
    margin-bottom: 10px;
    min-height: unset;
}
.titlebox h4 {
    font-size: 20px;
}
.hms-testimonial-container::before,
.hms-testimonial-container::after{
    font-size: 50px;
}
main#content.one-column .entry-title,
.single-projects .entry-title{
    margin-top: 0px !important;
}
.mobile-show {
    background: #00ced0 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
}
.metaslider .slides img {
    min-height: unset;
}
.metaslider .caption h3,
.metaslider div.wpcf7{
    display: none;
}
.metaslider .caption {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
    width: 80%;
}
}




@media screen and (max-width: 583px) {
.wc-gallery .gallery.gallery-masonry .gallery-item {
    margin: 1% !important;
    width: 31%;
}
.wc-gallery .gallery.gallery-masonry .gallery-item:nth-child(3n+1){
    clear: both;
}
}




@media screen and (max-width: 520px) {
button#responsive-menu-button {
    top: 33px !important;
}
.hms-testimonial-container::before{
    display: none;
}
.hms-testimonial-container .testimonial::before {
    padding-top: 10px;
}
.hms-testimonial-container::after {
    font-size: 50px;
    line-height: 0;
    position: relative;
}
}




@media screen and (max-width: 480px) {
button#responsive-menu-button {
    top: 26px !important;
}
#projects .project {
    width: 100%;
}
#projects .project .proj-title {
    font-size: 20px;
}
.col {
    margin: 0 0 10px;
}
main#content img.alignleft{
    width: 100%;
}
}




@media screen and (max-width: 320px) {
button#responsive-menu-button {
    top: 17px !important;
}
}




@media only screen and (min-width:768px){
  .scroll-back-to-top-wrapper{
    display: none;
  }
}


/*      Slick Slider          */


.lg-slickgallery{
	max-width: 100%
}
.main-slide img {
	width:100%;
	height:400px;
	object-fit: cover;
}

.nav-slider {
	padding: 10px;
}
.nav-slide img {
	width:150px;
	height:auto;

}

@media screen and (max-width:767px) {
	.fullwidth .container {
  		display: flex;
  		justify-content: space-evenly;
  		flex-direction: column;
  		align-items: center;
	}
}

@media screen and (min-width:768px) {
	.fullwidth .container {
  		display: flex;
  		justify-content: space-evenly;
  		flex-direction: row;
  		align-items: center;
	}
}

@media screen and (max-width:1440px) {

}

.feature-slide {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slide-form{
	position: absolute;
	padding-top: 30px;
	top: 0px;
	right: 0px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top:10px;
	background: rgba(0, 0, 0, 0.35) none repeat scroll 0 0;
	z-index: 998 !important;
}

.c7-recaptcha {
	margin-top: 0px;
	margin-bottom: 25px;
}


.feature-slide img {
	width:100%;
	max-width: 100%;
	min-height: 500px;
	object-fit: cover;
	z-index: -1;
}

.wpcf7-form-control-wrap {
	display: flex;
	justify-content: center;
}

.slide-form input[type="text"], .slide-form input[type="tel"], .slide-form input[type="password"], .slide-form input[type="email"], .slide-form input[type="url"], .slide-form input[type="number"], .slide-form textarea {
  margin-bottom: 0px;
  margin-top: 1px;
  max-width: 304px;
}

.slide-form input[type="submit"] {
	max-width: 304px;
	display: flex;
	justify-content: center;
	padding: 15px;
}

.wpcf7-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.slide-overlay {
	font-size: 32px;
    font-weight: 600;
    margin-bottom:20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 999;

}
@media screen and (max-width:321px) {

}

@media screen and (min-width:1024px) {
	.slide-form{
		margin-right: 110px;
		margin-top:30px;
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media screen and (min-width:1440px) {
	.slide-form{
		margin-right: 220px;
		margin-top:110px;
	}	
}